<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Account Created Successfully</title>
    </head>
    <body>
        <h1>Account Created Successfully!</h1>
        <p>Your account has been created successfully.</p>

        <a th:href="@{/public/login}" style="text-decoration: none;">
            <button style="padding: 10px 20px; background-color: #007bff; color: #fff; border: none; cursor: pointer;">
                Go to Login Page
            </button>
        </a>
    </body>
</html>
